doctype html
html(lang='en')
  head
    title 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
      .row.content {height: 1500px}
      /* Set gray background color and 100% height */
      .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      }
      /* Set black background color, white text and some padding */
      footer {
      background-color: #555;
      color: white;
      padding: 15px;
      }
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
      .sidenav {
      height: auto;
      padding: 15px;
      }
      .row.content {height: auto;}
      }
  body
    .container-fluid
      .row.content
        .col-sm-3.sidenav
          h4 Techindustan solutions pvt ltd
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href='#home') Home
            li
              a(href='#about') about us
            li
              a(href='#job') job portal
            li
              a(href='#services') our services
            li
              a(href='contact') contact us
          br
          .input-group
            input.form-control(type='text', placeholder='Search job..')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search
        .col-sm-9
       
    footer.container-fluid
      p Footer Text
