<h2 class="page-header">Register</h2>
<form method="post" action="/users/register">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <br>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
  <br>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
   <br>
     <div class="form-group">
        <label>Password</label>
         <input type="password" class="form-control" placeholder="Password" name="password">
     </div>
     <br>
     <div class="form-group">
        <label>confirm Password</label>
         <input type="confirm password" class="form-control" placeholder="confirm Password" name="confirm password">
     </div>
     <br>
   <div class="form-group">
    <label>contact number</label>
    <input type="text" class="form-control" contact number="Name" name="contact number">
  </div>
  <br>
  <div class="form-group">
    <label>Highest qualification</label>
    <input type="text" class="form-control" placeholder="Highest qualification" name="Highest qualification">
  </div>
  <br>
  <div class="form-group">
    <label>percentage</label>
    <input type="percentage" class="form-control" placeholder="percentage" name="percentage">
  </div>
   <br>
     <div class="form-group">
        <label>country</label>
         <input type="country" class="form-control" placeholder="country" name="country">
     </div>
     <br>
     <div class="form-group">
        <label>state</label>
         <input type="state" class="form-control" placeholder="state" name="state">
     </div>
     <br>
     <div class="form-group">
        <label>city</label>
         <input type="city" class="form-control" placeholder="state" name="city">
     </div>
     <br>
     <div class="form-group">
        <label>current address</label>
         <input type="current address" class="form-control" placeholder="current address" name="current address">
     </div>
     <br>
      <div class="form-group">
        <label> parmanent address</label>
         <input type="parmanent address" class="form-control" placeholder=" parmanent address" name=" parmanent address">
     </div>
     <br>
     <div class="form-group">
        <label>pincode</label>
         <input type="text" class="form-control" placeholder="pincode" name="pincode">
     </div>
     <br>
     <div class="form-group">
        <label>user photo</label>
         <input type="file" class="form-control" placeholder="user photo" name="user photo">
          <label>user signature</label>
         <input type="file" class="form-control" placeholder="user signature" name="user signature">
          <label>user thumb</label>
         <input type="file" class="form-control" placeholder="user thumb" name="user thumb">
     </div>
     <br>
  <button type="submit" class="btn btn-default">Submit</button>
   </form>